body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url(https://media.giphy.com/media/JoSvtVAWRT0li/giphy.gif) no-repeat center center fixed;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addSecondDancerButton, .addThirdDancerButton, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:0px solid red;
  border-radius:0px;
  height: 50%
  width:50% ;
  position:absolute;
}
.jayZ{
/* background: url(https://kenyatalk.s3.amazonaws.com/2017/07/172628_3488def8b6601537d317d219d4b756c5.png) no-repeat center center fixed;*/  border:0px solid blue;
  border-radius:0px;
  position:absolute;
}
.baby{
/*  background: url(https://kenyatalk.s3.amazonaws.com/2017/07/173063_6bf339daa16d73ce19d0e0bf9e6e0cca.png) no-repeat center center fixed;
*/
  border:0px solid green;
  border-radius:0px;
  position:absolute;
}